<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap-tests.php"
         colors="true"
         verbose="true"
         stopOnFailure="false"
         testdox="true">
    <testsuites>
        <testsuite name="All Unit Tests">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>